---
title: Archive
layout: default
description: keep hungry keep foolish
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 归档列表 -->
            
            <div class="one-tag-list">
                <span class="fa fa-calendar-times-o listing-seperator" id="2017">
                    <span class="tag-text">2021</span>
                </span>
                <ul>
                    <li >
                        09-08
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/09/08/%E7%A7%81%E4%BA%BA%E7%94%B5%E5%AD%90%E4%B9%A6iBook/" style="color: #0085a1">
                            <span>
                                私人电子书iBook
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        09-08
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/09/08/%E4%B9%A6%E5%8D%95(%E6%8C%81%E7%BB%AD%E6%9B%B4%E6%96%B0)/" style="color: #0085a1">
                            <span>
                                书单(持续更新)
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        09-08
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/09/08/%E8%8C%B9%E7%82%B3%E6%99%9F-%E7%A0%94%E5%8F%91%E6%95%88%E8%83%BD/" style="color: #0085a1">
                            <span>
                                茹炳晟-研发效能
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        09-01
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/09/01/%E4%BA%91%E6%9C%8D%E5%8A%A1%E5%99%A8+Python+Jupyter%E5%89%8D%E7%AB%AF%E5%AD%A6%E4%B9%A0%E7%8E%AF%E5%A2%83%E6%90%AD%E5%BB%BA/" style="color: #0085a1">
                            <span>
                                云服务器+Python+Jupyter前端学习环境搭建
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        04-18
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/08/27/Springboot%E9%85%8D%E7%BD%AERabbitMQ/" style="color: #0085a1">
                            <span>
                                Springboot配置RabbitMQ
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        08-20
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/08/20/Tensorflow2.0-doing/" style="color: #0085a1">
                            <span>
                                Tensorflow2.0
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        08-12
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/08/12/Java-Redis%E9%A1%B9%E7%9B%AE%E5%AE%9E%E8%B7%B5/" style="color: #0085a1">
                            <span>
                                Java Redis项目实践
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>                    
                    <li >
                        08-01
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/08/01/%E7%B2%BE%E7%AE%80%E5%BC%80%E6%BA%90%E6%B5%8B%E8%AF%95%E6%A1%86%E6%9E%B6ApiSuperTest/" style="color: #0085a1">
                            <span>
                                精简开源测试框架ApiSuperTest
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        07-30
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/07/30/%E6%B5%81%E9%87%8F%E5%9B%9E%E6%94%BE%E5%B9%B3%E5%8F%B0iMock%E5%89%8D%E5%90%8E%E7%AB%AF%E5%AE%9E%E8%B7%B5(%E5%9B%9B)/" style="color: #0085a1">
                            <span>
                                流量回放平台iMock前后端实践(四)
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        07-18
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/07/18/Java-web%E4%B9%8BJetty%E6%98%AF%E4%B8%AA%E5%95%A5/" style="color: #0085a1">
                            <span>
                                Java web之Jetty是个啥?
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        07-15
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/07/15/Jenkins%E6%97%A5%E5%BF%97%E5%8F%AF%E8%AF%BB%E5%8C%96%E4%BF%AE%E6%94%B9/" style="color: #0085a1">
                            <span>
                                Jenkins日志可读化修改
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        07-06
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/07/06/Jvm-Sandbox-Repeater%E6%9B%B4%E4%B8%8A%E4%B8%80%E5%B1%82%E6%A5%BC(%E4%B8%89)/" style="color: #0085a1">
                            <span>
                                Jvm Sandbox Repeater更上一层楼(三)
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        07-05
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/07/05/Java-Agent%E4%BD%BF%E7%94%A8%E4%B8%AD%E7%90%86%E8%A7%A3(%E4%BA%8C)/" style="color: #0085a1">
                            <span>
                                Java Agent使用中理解(二)
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        07-01
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/07/01/Jvm-Sandbox%E8%AF%A6%E7%BB%86%E8%A7%A3%E8%AF%BB%E5%92%8C%E5%AE%9E%E8%B7%B5(%E4%B8%80)/" style="color: #0085a1">
                            <span>
                                Jvm Sandbox详细解读和实践(一)
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        06-22
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/06/22/%E4%B8%AA%E4%BA%BA%E7%BD%91%E7%AB%99%E7%9A%84%E6%90%9C%E7%B4%A2%E5%BC%95%E6%93%8E%E6%94%B6%E5%BD%95%E6%8C%87%E5%8D%97/" style="color: #0085a1">
                            <span>
                                个人网站的搜索引擎收录指南
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        06-20
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/06/20/%E5%BE%AE%E8%BD%AF%E7%9A%84Edge%E7%BB%88%E4%BA%8E-%E8%A1%8C%E4%BA%86/" style="color: #0085a1">
                            <span>
                                微软的Edge终于“行了”
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>                    
                    <li >
                    06-17
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/06/17/AZ900,%E5%BE%AE%E8%BD%AFAzure900%E8%AE%A4%E8%AF%81%E8%80%83%E8%AF%95%E8%8E%B7%E5%8F%96%E6%9C%BA%E8%A6%81/" style="color: #0085a1">
                        <span>
                            AZ-900,微软Azure900认证考试获取机要(可白嫖所有资料)
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                    06-17
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/06/17/%E9%9F%B3%E4%B9%90%E5%B0%8F%E7%AB%99-Hop-Music/" style="color: #0085a1">
                        <span>
                            音乐小站
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                    06-17
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/06/17/%E8%AF%BB%E4%B9%A6%E7%AC%94%E8%AE%B0-%E4%BB%A3%E7%A0%81%E4%B9%8B%E5%A4%96%E7%9A%84%E8%BD%AF%E6%8A%80%E8%83%BD/" style="color: #0085a1">
                        <span>
                            读书笔记 -《代码之外的软技能》
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                    06-08
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/06/08/Mac%E5%8D%95%E6%9C%BA,jenkins-master%E5%9C%A8%E9%9B%86%E7%BE%A4k8s%E5%A4%96,k8s%E5%86%85%E9%83%A8%E7%BD%B2%E5%8A%A8%E6%80%81jenkins-slave,jnlp%E6%96%B9%E5%BC%8F/" style="color: #0085a1">
                        <span>
                            Mac单机,jenkins-master在集群k8s外,k8s内部署动态jenkins-slave,jnlp方式
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        06-07
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/06/07/%E6%91%98%E6%8A%84%E8%AF%97%E9%9B%86-%E6%AF%8D%E4%BA%B2/" style="color: #0085a1">
                            <span>
                                摘抄诗集 母亲
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                        </li>
                    <li >
                    06-06
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/06/06/Spring-Interceptor%E6%8B%A6%E6%88%AA%E5%99%A8%E6%8A%80%E6%9C%AF%E7%BB%86%E8%8A%82/" style="color: #0085a1">
                        <span>
                            Spring Interceptor 拦截器技术细节
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                    06-06
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/06/06/CricuitBreaker-%E7%86%94%E6%96%AD%E5%99%A8%E7%9A%84%E4%BA%8C%E4%B8%89%E4%BA%8B/" style="color: #0085a1">
                        <span>
                            CricuitBreaker 熔断器的二三事
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                    05-29
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/05/29/AI-%E8%85%BE%E8%AE%AFAI-Chatbot%E6%8E%A5%E5%8F%A3%E9%89%B4%E6%9D%83%E7%9A%84js%E5%AE%9E%E7%8E%B0/" style="color: #0085a1">
                        <span>
                            腾讯AI Chatbot接口鉴权的js实现
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        05-22
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/05/22/Mockito%E4%BD%BF%E7%94%A8%E7%AC%94%E8%AE%B0/" style="color: #0085a1">
                            <span>
                                Mockito使用笔记
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>                    
                    <li >
                    05-20
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/05/20/%E9%9A%8F%E8%AE%B0-520/" style="color: #0085a1">
                        <span>
                            520
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
					<li >
                    05-16
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/05/16/%E9%9A%8F%E8%AE%B0-%E6%88%98%E4%BA%89%E6%B0%B8%E4%B8%8D%E5%81%9C%E6%AD%A2/" style="color: #0085a1">
                        <span>
							战争永不停止
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                	</li>
                    <li >
                    05-16
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2021/05/16/%E9%9A%8F%E8%AE%B0-%E6%9A%97%E6%B7%A1%E8%93%9D%E7%82%B9/" style="color: #0085a1">
                        <span>
                            暗淡蓝点
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                	</li>
                    <li >
                        05-06
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/05/05/k8s-k8s%E6%90%AD%E5%BB%BAELK%E6%AD%A5%E9%AA%A4%E8%AF%A6%E8%A7%A3/" style="color: #0085a1">
                            <span>
                                k8s搭建ELK步骤详解
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        04-25
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/04/15/docker-Docker%E6%90%AD%E5%BB%BAELK%E6%97%A5%E5%BF%97%E8%AE%B0%E5%BD%95%E6%A1%86%E6%9E%B6/" style="color: #0085a1">
                            <span>
                                Docker搭建ELK日志记录框架
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        04-18
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/04/18/Springboot%E9%85%8D%E7%BD%AEElasticsearchRepository%E6%8E%A5%E5%8F%A3%E4%BD%BF%E7%94%A8/" style="color: #0085a1">
                            <span>
                                Springboot配置ElasticsearchRepository接口使用
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        04-09
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/04/09/%E7%A9%BA%E6%9D%AF%E5%BF%83%E6%80%81/" style="color: #0085a1">
                            <span>
                                空杯心态
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        03-05
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/03/05/%E5%BE%AE%E4%BF%A1%E5%B0%8F%E7%A8%8B%E5%BA%8F%E4%B9%8B%E4%BA%91%E5%87%BD%E6%95%B0/" style="color: #0085a1">
                            <span>
                                微信小程序之云函数
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>                    <li >
                        01-15
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/01/15/%E5%BE%AE%E4%BF%A1%E5%B0%8F%E7%A8%8B%E5%BA%8F%E5%BC%80%E5%8F%91%E6%8E%A2%E7%B4%A2%E5%92%8C%E6%80%9D%E8%80%83/" style="color: #0085a1">
                            <span>
                                微信小程序开发探索和思考
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        01-11
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2021/01/11/Flutter%E5%88%9D%E4%BD%93%E9%AA%8C/" style="color: #0085a1">
                            <span>
                                Flutter初体验
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                </ul>


                <span class="fa fa-calendar-times-o listing-seperator" id="2020">
                    <span class="tag-text">2020</span>
                </span>
                <ul>
                    <li >
                        12-22
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/12/22/%E4%B8%BABDD%E8%80%8C%E7%94%9F%E7%9A%84cucumber%E6%A1%86%E6%9E%B6%E5%B7%A5%E4%BD%9C%E5%AE%9E%E8%B7%B5/" style="color: #0085a1">
                            <span>
                                为BDD而生的cucumber框架工作实践
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        11-03
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/11/03/Apollo%E6%9C%8D%E5%8A%A1%E6%B3%A8%E5%86%8C%E5%8F%91%E7%8E%B0%E7%B3%BB%E7%BB%9F%E5%85%A5%E9%97%A8%E5%AE%9E%E8%B7%B5/" style="color: #0085a1">
                            <span>
                                Apollo服务注册发现系统入门实践
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>                    
                    <li >
                        10-15
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/10/15/Oracle-%E8%AE%BE%E7%BD%AETO_DATE('13-OCT-20',-'dd-MON-yy'),-%E6%8A%A5%E9%94%99-ORA-01843-%E6%97%A0%E6%95%88%E7%9A%84%E6%9C%88%E4%BB%BD/" style="color: #0085a1">
                            <span>
                                Oracle 设置TO_DATE('13-OCT-20', 'dd-MON-yy'), 报错 ORA-01843: 无效的月份
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        10-13
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/10/13/allure-java-%E4%BA%8C%E6%AC%A1%E5%BC%80%E5%8F%91-%E6%B7%BB%E5%8A%A0%E8%87%AA%E5%AE%9A%E4%B9%89%E6%B3%A8%E8%A7%A3,-%E5%B9%B6%E4%BF%AE%E6%94%B9@step%E7%9B%B8%E5%85%B3aop%E9%97%AE%E9%A2%98/" style="color: #0085a1">
                            <span>
                                allure-java 二次开发 添加自定义注解, 并修改@step相关aop问题
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        10-05
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/10/05/%E8%93%9D%E7%BB%BF%E5%8F%91%E5%B8%83,%E7%81%B0%E5%BA%A6%E5%8F%91%E5%B8%83,%E9%87%91%E4%B8%9D%E9%9B%80%E5%8F%91%E5%B8%83/" style="color: #0085a1">
                            <span>
                                蓝绿发布,灰度发布,金丝雀发布
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        08-15
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/08/15/Java-SPI%E6%9C%BA%E5%88%B6%E6%98%AF%E4%B8%AA%E5%95%A5/" style="color: #0085a1">
                            <span>
                                Java SPI机制是个啥
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>                    <li >
                        08-10
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/08/10/Appium%E6%B7%BB%E5%8A%A0Listener%E8%BF%90%E8%A1%8C%E6%8A%A5%E9%94%99/" style="color: #0085a1">
                            <span>
                                Appium添加Listener运行报错
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        08-01
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/08/01/GUI-Framework-Desgin/" style="color: #0085a1">
                            <span>
                                GUI-Framework-Desgin
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        07-01
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/07/01/Test-result-analysis-program/" style="color: #0085a1">
                            <span>
                                Test-result-analysis-program
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        04-27
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/04/27/mybatis-sql%E6%9F%A5%E8%AF%A2%E6%85%A2/" style="color: #0085a1">
                            <span>
                                mybatis sql查询慢
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>

                    <li >
                        04-22
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/04/22/jacoco%E6%90%AD%E9%85%8DspringMVC-maven-tomcat%E9%A1%B9%E7%9B%AE,%E5%8D%95%E5%85%83%E6%B5%8B%E8%AF%95&%E6%8E%A5%E5%8F%A3%E6%B5%8B%E8%AF%95%E8%B8%A9%E5%9D%91/" style="color: #0085a1">
                            <span>
                                Jacoco搭配springMVC maven tomcat项目,单元测试&接口测试踩坑
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        03-07
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="http://liuguanhua.xyz/2020/03/07/Java%E5%8F%8D%E5%B0%84%E5%AD%A6%E4%B9%A0%E4%B9%8BField%E7%B1%BB%E8%AE%BF%E9%97%AE%E5%92%8C%E4%BF%AE%E9%A5%B0%E5%8F%98%E9%87%8F/" style="color: #0085a1">
                            <span>
                                Java反射学习之Field类访问和修饰变量
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                </ul>

                <span class="fa fa-calendar-times-o listing-seperator" id="2019">
                    <span class="tag-text">2019</span>
                </span>
                <ul>
                    <li >
                    12-10
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2019/12/10/Appium-AI-Test/" style="color: #0085a1">
                        <span>
                            Appium AI Test
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>

                    <li >
                    08-28
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2019/08/28/%E6%B9%BF%E8%B4%A7%E5%88%86%E4%BA%AB-%E6%97%A5%E5%BF%97%E8%AE%B0%E5%BD%95%E5%92%8C%E5%9B%BE%E7%89%87%E5%AF%B9%E6%AF%94/" style="color: #0085a1">
                        <span>
                            湿货分享:日志记录和图片对比
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                </ul>

                <span class="fa fa-calendar-times-o listing-seperator" id="2018">
                    <span class="tag-text">2018</span>
                </span>
                <ul>
                    <li >
                    10-17
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2018/10/17/Spring-MVC%E5%A4%87%E5%BF%98%E5%AD%A6%E4%B9%A0%E7%AC%94%E8%AE%B0/" style="color: #0085a1">
                        <span>
                            Spring MVC备忘学习笔记
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                </ul>

                <span class="fa fa-calendar-times-o listing-seperator" id="2017">
                    <span class="tag-text">2017</span>
                </span>
                <ul>
                    <li >
                    10-24
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="http://liuguanhua.xyz/2017/10/24/Facebook-ATC%E6%90%AD%E5%BB%BA%E6%8C%87%E5%8C%97/" style="color: #0085a1">
                        <span>
                            Facebook ATC搭建指北
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
