---
title: Archive
layout: default
description: keep hungry keep foolish
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 归档列表 -->
            
            <div class="one-tag-list">
                <span class="fa fa-calendar-times-o listing-seperator" id="2017">
                    <span class="tag-text">2021</span>
                </span>
                <ul>   
                    <li >
                    06-06
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="https://yizibi.github.io/2019/10/21/iOS-Flutter%E6%A8%A1%E5%9D%97%E6%8F%90%E4%BA%A4ipa-Error-90087,90209,90125/" style="color: #0085a1">
                        <span>
                            Spring Interceptor 拦截器技术细节
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                    06-06
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="https://yizibi.github.io/2019/10/15/Git-%E9%87%8D%E5%86%99%E6%8F%90%E4%BA%A4message/" style="color: #0085a1">
                        <span>
                            CricuitBreaker 熔断器的二三事
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                    05-29
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="https://yizibi.github.io/2019/09/04/%E8%A7%84%E8%8C%83%E6%9D%82%E8%B0%88/" style="color: #0085a1">
                        <span>
                            腾讯AI Chatbot接口鉴权的js实现
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                    05-20
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="https://yizibi.github.io/2019/08/30/(%E5%B9%B2%E8%B4%A7%E5%88%86%E4%BA%AB)%E5%A6%82%E4%BD%95%E5%9C%A830min%E5%BF%AB%E9%80%9F%E9%98%85%E8%AF%BB%E4%B8%80%E6%9C%AC%E4%B9%A6/" style="color: #0085a1">
                        <span>
                            520
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
					<li >
                    05-16
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="https://yizibi.github.io/2019/07/26/iOS-UIView%E8%8C%83%E5%9B%B4%E5%A4%96%E5%93%8D%E5%BA%94%E7%82%B9%E5%87%BB/" style="color: #0085a1">
                        <span>
							战争永不停止
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                	</li>
                    <li >
                    05-16
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <a href="https://yizibi.github.io/2019/06/25/Flutter%E5%A6%82%E4%BD%95%E4%B8%8EiOS%E5%8E%9F%E7%94%9F%E8%BF%9B%E8%A1%8C%E6%95%B0%E6%8D%AE%E4%BA%A4%E4%BA%92/" style="color: #0085a1">
                        <span>
                            暗淡蓝点
                        </span>
                    </a>
                    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                	</li>
                    <li >
                        05-06
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="https://yizibi.github.io/2019/05/16/%E5%85%8D%E8%B4%B9%E7%A7%91%E5%AD%A6%E4%B8%8A%E7%BD%91-%E6%97%A0%E9%9C%80%E9%85%8D%E7%BD%AEVPS-%E8%B5%84%E6%BA%90%E5%88%86%E4%BA%AB-%E4%B8%80%E9%94%AE%E4%B8%8A%E7%BD%91(%E6%94%B6%E8%97%8F)/" style="color: #0085a1">
                            <span>
                                k8s搭建ELK步骤详解
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        04-25
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="https://yizibi.github.io/2019/05/10/%E5%A6%82%E4%BD%95%E7%94%A8Pod%E9%9B%86%E6%88%90Flutter/" style="color: #0085a1">
                            <span>
                                Docker搭建ELK日志记录框架
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                    <li >
                        04-18
                        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <a href="https://yizibi.github.io/2019/05/05/iOS-AFN-3.x-Cookie%E7%9A%84%E7%AE%A1%E7%90%86(%E6%9C%80%E6%96%B0)/" style="color: #0085a1">
                            <span>
                                Springboot配置ElasticsearchRepository接口使用
                            </span>
                        </a>
                        <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
